ion-header {
  text-align: center;
}

ion-content {
  --background: #121212; // Fundo preto
  color: white;
}

.chat-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat-container {
  flex: 1;
  padding: 16px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

.mensagem {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  max-width: 75%;
  word-wrap: break-word;
  position: relative;
}

.usuario {
  align-self: flex-end;
  background-color: #007bff;
  color: white;
}

.policia {
  align-self: flex-start;
  background-color: #e5e5ea;
  color: black;
}

.timestamp {
  font-size: 0.7rem;
  color: gray;
  margin-top: 4px;
  text-align: right;
}

ion-footer {
  background-color: #1e1e1e;
}

ion-item {
  --background: #1e1e1e; // Fundo escuro do item
  --color: white; // Texto branco
  border-top: 1px solid #333; // Linha sutil no topo
}

ion-input {
  margin-top: 20px;
  color: white;
  background-color: transparent;
  height: 70px;
}

ion-button {
  margin-top: 30px;
  height: 35px;
  width: 120px;
}

ion-content.has-footer {
  --padding-bottom: 80px;
}
