* {
    padding: 0px;
    margin: 0px;
  }
  
  ion-content {
    --background: #22333B;
  }
  
  .wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .occurrence-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 400px; // opcional para não ficar muito largo em telas grandes
  }
  
  .occurrence-label {
    color: #fff;
    margin-bottom: 20px;
    font-size: 1.2em;
  }
  
  .nao-encontrou-label {
    color: #fff;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1em;
    text-align: center;
  }
  
  ion-item {
    font-size: 1em;
    color: #fff;
    --background: transparent;
    --border-color: #fff;
    margin-bottom: 15px;
    width: 100%;
  }
  
  ion-item ion-label {
    color: #fff;
  }
  
  ion-select {
    margin-top: 5px;
    color: #fff;
  }
  
  ion-input {
    margin-top: 5px;
    margin-bottom: 15px;
    color: #fff;
  }
  
  ion-button {
    width: 100%;
  }
  
  .voltar {
    width: 150px;
  }
  
  // HEADER
  ion-header ion-title {
    text-align: center;
    color: #fff;
  }
  
  // FOOTER
  ion-footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
