ion-header {
  text-align: center;
}

.chat-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat-container {
  flex: 1;
  padding: 16px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  background-color: #ffffff;
}

.mensagem {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  max-width: 75%;
  word-wrap: break-word;
  position: relative;
}

.usuario {
  align-self: flex-end;
  background-color: #007bff;
  color: white;
}

.policia {
  align-self: flex-start;
  background-color: #e5e5ea;
  color: black;
}

.timestamp {
  font-size: 0.7rem;
  color: gray;
  margin-top: 4px;
  text-align: right;
}

ion-footer.chat-footer {
  --background: #fff;
  border-top: 1px solid #ccc;
  padding: 8px;
}

ion-item {
  --background: transparent;
  --padding-start: 0;
  --inner-padding-end: 0;
  border: none;
  box-shadow: none;
}


ion-item:focus-within {
  border: none;
}

ion-input {
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 6px;
}

ion-button {
  margin-left: 10px;
  height: 40px;
  width: 100px;
  font-weight: bold;
  text-transform: uppercase;
}


