ion-header {
  --color: #fff;       
  text-align: center;
}

ion-title {
  color: white;
  font-weight: bold;
  font-size: 20px;
}

ion-content {
  --background: #22333B;
  --padding-start: 20px;
  --padding-end: 20px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

ion-content::part(scroll) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#block-img-icon {
  margin-bottom: 20px;
}

#block-img-icon img {
  width: 140px;
  height: auto;
}

form {
  width: 100%;
  max-width: 320px;
}

ion-item {
  color: #fff;
  --background: #1e1e1e;
  margin-bottom: 20px;
}

ion-input {
  text-align: center;
  padding: 12px;
}

ion-button {
  margin-top: 30px;
}

ion-toolbar {
  background-color: #000 !important;
  color: white !important;
}


  