<ion-header>
  <ion-toolbar>
    <ion-title>Redefinição de Senha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="reset-password-container">
    <h2>Redefinir Senha</h2>
    <p>Digite seu e-mail cadastrado, sua nova senha e a confirmação.</p>

    <!-- Email -->
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input [(ngModel)]="email" type="email" required></ion-input>
    </ion-item>

    <!-- Nova Senha -->
    <ion-item lines="full">
      <ion-label position="floating">Nova Senha</ion-label>
      <ion-input [(ngModel)]="newPassword" type="password" required></ion-input>
    </ion-item>

    <!-- Confirmar Senha -->
    <ion-item lines="full">
      <ion-label position="floating">Confirmar Nova Senha</ion-label>
      <ion-input [(ngModel)]="confirmPassword" type="password" required></ion-input>
    </ion-item>

    <!-- Botão -->
    <ion-button expand="block" (click)="resetPassword()">Confirmar</ion-button>
  </div>
</ion-content>
