<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Modo Anônimo</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <div id="container-main">
    <div id="block-img-icon">
      <img src="assets/Logo do App.png" alt="Logo do App">
    </div>

    <div id="block-form">
      <p id="desc-anonymous">Não coletamos dados pessoais. Sua denúncia será 100% anônima.</p>

      
      <!-- Campo Motivo -->
     <ion-item>
       <ion-label position="floating">Motivo da Denúncia:</ion-label>
       <ion-input type="text" [(ngModel)]="motivo"></ion-input>
     </ion-item>

     <!-- Campo Local -->
     <ion-item>
       <ion-label position="floating">Telefone + DDD:</ion-label>
       <ion-input type="tel" [(ngModel)]="telefone"></ion-input>
     </ion-item>

      
      <!-- Botão -->
     <ion-button expand="full" (click)="concluirDenuncia()">Concluir</ion-button>
    </div>
  </div>
</ion-content>