<ion-content class="ion-padding home-content">
  <div class="container">
    <!-- Logo do Aplicativo -->
    <div class="logo">
      <img src="/assets/Logo do App.png" alt="Logo do Aplicativo" class="logo-image">
    </div>

    <!-- Título e Subtítulo -->
    <h1 class="Titulo">Alerta Cidadão</h1>
    
    <p class="subTitulo">
      Relate ocorrências e contribua para a segurança da sua comunidade.
    </p>

    <!-- Mensagem de boas-vindas -->
    <p class="Mensagem-boas-vindas">Seja Bem-vindo(a) ao Alerta Cidadão!</p>

    <!-- Botões -->
    <div class="buttons-container">
      <ion-button (click)="goToLogin()" color="primary">Entrar</ion-button>
      <ion-button (click)="goToRegister()" color="secondary">Me Cadastrar</ion-button>
      <ion-button (click)="goToAnonymous()" color="medium" >Ficar Anônimo</ion-button>
    </div>
  </div>
</ion-content>
