<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    

    <!-- Campo de Nome-->
    <ion-item>
      <ion-label position="floating">Nome Completo:</ion-label>
      <ion-input type="text" formControlName="name" id="name" required></ion-input>
    </ion-item>

      <!-- Campo de Email-->
    <ion-item>
      <ion-label position="floating">Email:</ion-label>
      <ion-input type="email" formControlName="email" id="email" required></ion-input>
    </ion-item>

      <!-- Campo de Telefone-->
    <ion-item>
      <ion-label position="floating">Telefone:</ion-label>
      <ion-input type="tel" formControlName="phone" id="phone" required></ion-input>
    </ion-item>

  
    <ion-button expand="full" type="submit" [disabled]="registerForm.invalid" id="Cadastro"> Cadastrar</ion-button>

  </form>
</ion-content>
